<!DOCTYPE html>
<html lang="en">

  <% include parts/head %>

  <body>
    <div id='page-top' class='wrapper'>

      <% include parts/nav %>
      <% include parts/header %>
      <% include parts/what %>
      <% include parts/about %>
      <% include parts/tech %>
      <% include parts/contact %>
      <% include parts/script %>

    </div>
  </body>
  
</html>