<div class='third'>
  <div id='about' class='about'>
    <div class='head'><h2>Наша комманда</h2></div>
    <!-- <div class='img'><img src='https://pics.livejournal.com/axe_ukraine/pic/0002z4bz'></div> -->
    <div class='text'>
      <h3>Leris Baltic OÜ</h3>
      <p><b>Олександр Леонов</b> <a href='tel:+37258503321'>+37258503321</a></p>
      <p><b>Сергей Рындин</b> <a href='tel:+37256705112'>+37256705112</a></p>
      <p><b>Дмитрий Рындин</b> <a href='tel:+37256888109'>+37256888109</a></p>
    </div>
  </div>
  <!-- <div class='pseudo'></div> -->
</div>