<!-- First page -->
<div class='first'>

  <!-- Header -->
  <div class='header'>
    <div class='header-top'>
      <div></div>
      <div>
        <h1><strong>Leris Baltic</strong></h1>
        <h2>Горизонтальное бурение по всей Эстонии</h2>
      </div>
    </div>
    <!-- Button -->
    <div class='header-but'>
      <a class='js-scroll-trigger' href='#contact'>Свяжитесь с нами |<span/><i class='fas fa-phone'></i><span/><i class='fas fa-envelope-open'></i></a>
    </div>
    <!-- Arrow -->
    <a class='js-scroll-trigger' href='#what'><div class='header-arrow'>
      <span><i class="fas fa-arrow-down fa-4x"></i></span>
    </div></a>
  </div>

  <!-- Header links -->
  <div class='header-under'>
    <div class='header-cont'>

      <a class='js-scroll-trigger' href='#what'><div class='header-0'>
        <span><i class="fas fa-screwdriver fa-4x"></i></span>
        <h1>Чем мы занимаемся?</h1>
      </div></a>

      <a class='js-scroll-trigger' href='#about'><div class='header-1'>
        <span><i class="fas fa-users fa-4x"></i></span>
        <h1>Кто мы?</h1>
      </div></a>

      <a class='js-scroll-trigger' href='#tech'><div class='header-2'>
        <span><i class="fas fa-truck fa-4x"></i></span>
        <h1>Наша техника</h1>
      </div></a>
    </div>
  </div>

</div>