<div class='fourth'>
  <div id='tech' class='tech'>
    <div class='head'><h2>Наша техника</h2></div>

    <div class='img img-0'><img title='Taken from: https://www.ditchwitch.com' src='https://www.ditchwitch.com/sites/default/files/styles/product_walkaround/public/JT30-right_0.png?itok=nwD4swLu'></div>
    <div class='text text-0'>
      <h3>Буровая установка</h3>
      <p><b>DitchWitch 3020AT</b> - прокладывает в скальном грунте трубопроводы диаметром от 20мм до 350мм, в мягких грунтах от 20мм до 500мм.</p>
    </div>

    <div class='img img-1'><img title='Taken from: https://st.motortrend.com'src='https://st.motortrend.com/uploads/sites/10/2016/10/2016-ford-transit-350-xlt-med-roof-passenger-van-angular-front.png'></div>
    <div class='img img-1-1'><img title='Taken from: https://www.vanworld-uk.com/' src='https://www.vanworld-uk.com/assets/images/EXPERT2012033_2-WEB.png'></div>
    <div class='text text-1'>
      <h3>Автобусы</h3>
      <p><b>Ford Tranzit t350</b>
        <br>Грузоподъемность 1.75т
        <br>Объем 2.4м³</p>
      <p><b>Peugeot Expert</b>
        <br>Грузоподъемность 1т
        <br>Объем 2м³</p>
    </div>

    

    <div class='img img-2'><img title='Taken from: https://www.ritmo.it/'src='https://www.ritmo.it/assets/uploads/2014/04/multimedia_DELTA_500_EASY_LIFE.jpg'></div>
    <div class='text text-2'>
      <h3>Сварочные аппараты</h3>
      <p><b>Ritmo 160 и Ritmo 315</b> - сварка полиэтиленовых труб методом стыка диаметром от 40мм до 315мм.</p>
    </div>

  </div>
</div>