<!-- Second page -->
<div class='second'>  

  <!-- What's up -->
  <div id='what' class='what'>
    <div class='head'><h2>Горизонтальное бурение</h2></div>
    <div class='text text-0'><h3>Что это такое </h3><p>Бестраншейный метод прокладывания подземных коммуникаций, основанный на использовании специальных буровых установок.</p></div>
    <div class='img'><img title='Автор: Nik15 - собственная работа, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=35357627' src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/DirectionalDrill.svg/512px-DirectionalDrill.svg.png' alt='Автор: Nik15 - собственная работа, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=35357627'></div>
    <div class='text text-1'><h3>Наглядная демонстрация</h3><p>Для лучшего представления процесса работы на видеоролике вы можете наблюдать примерный процесс бурения.</p></div>
    <div class='yt'><iframe src="https://www.youtube.com/embed/GHftv5TwVOE" allowfullscreen></iframe></div>

  </div>
</div>